* {
  font-family: Iosevka;
}
window {
    border: 3px solid #F5E0DC;
    border-radius: 10px;
}

#input {
    margin: 10px;
    border: none;
    border-radius: 4px;
    padding: 5px;
}
#input:focus {

}

#inner-box {
    background: transparent;
    margin: 10px;
}

#outer-box {
    margin-bottom: 4px;
}

#scroll {
    margin-right: 5px;
}

#text {
    margin-left: 10px;
    font-size: 18px;
}

#text:selected {

}

#entry {
    margin-bottom: 7px;
    padding: 5px;
}

#entry:selected {
    border: none;
    background-color: 0;
}
