* {
	background-image: none;
}
window {
	background-color: rgba(30, 30, 46, 0.3);
}
button {
  color: #DC8A78;
	background-color: #EFF1F5;
	border-style: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #CCD0DA;
	outline-style: none;
}

#lock {
    background-image: image(url("/home/gabriel/.config/wlogout/icons/lock.svg"));
}

#logout {
    background-image: image(url("/home/gabriel/.config/wlogout/icons/logout.svg"));
}

#suspend {
    background-image: image(url("/home/gabriel/.config/wlogout/icons/suspend.svg"));
}

#hibernate {
    background-image: image(url("/home/gabriel/.config/wlogout/icons/hibernate.svg"));
}

#shutdown {
    background-image: image(url("/home/gabriel/.config/wlogout/icons/shutdown.svg"));
}

#reboot {
    background-image: image(url("/home/gabriel/.config/wlogout/icons/restart.svg"));
}
